* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ==============================
   CONFIGURAÇÕES GERAIS
================================= */

html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: rgb(63, 63, 63);
    color: #FDFCFA;
    min-height: 100vh;
}


/* ==============================
   HEADER
================================= */

.meu-cabecalho {
    background-color: #050204;

    width: 100%;
    height: 75px;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 1000;

    border-bottom: 1px solid #1b4d3e;
}


/* ==============================
   NAVEGAÇÃO
================================= */

.barra-nav {
    width: 100%;
    max-width: 1200px;
    height: 80px;

    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 30px;
}

.link-logo{
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
}

.logo-img {
    height: 80px;
    width: auto;
    object-fit: contain;
}


/* ==============================
   MENU (Esquerda)
================================= */

.menu-lista {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
}

.menu-lista li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.menu-lista li a:hover {
    color: #f769eb;
}


.lampada {
    position: absolute;
    top: 72px;
    width: 70px;
    height: 100px;
    z-index: 2000;
    pointer-events: none;
}

.lampada img {
    width: 100%;
    height: 100%;

    object-fit: contain;
}

.lampada-esquerda {
    left: 15px;
}

.lampada-direita {
    right: 15px;
}


/* ==============================
   MAIN
================================= */

main {
    padding-top: 115px;
}


/* ==============================
   SEÇÃO INICIAL
================================= */

.inicio {
    min-height: calc(100vh - 95px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 20px;
    flex-direction: row-reverse;
}


/* ==============================
   MOLDURA DA FOTO
================================= */

.moldura-foto {
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}


/* ==============================
   FOTO
================================= */

.minha-foto {
    width: 78%;
    height: 78%;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}


/* ==============================
   MOLDURA
================================= */

.moldura {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
    object-fit: contain;
}


/* ==============================
   TEXTOS DA INICIAL
================================= */

.inicio{
    min-height: calc(100vh - 95px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px; /* Espaço entre a foto e o texto */
    padding: 40px 50px;
    flex-direction: row-reverse;
}

.inicio{
    text-align: left;
}

.inicio h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.inicio p {
    font-size: 1.1rem;
    color: #d8d8d8;
}