*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;

    background: linear-gradient(135deg, #0f172a, #1e293b, #334155);
    color: white;

    overflow: hidden;
}

.welcome{
    text-align: center;
    max-width: 700px;
    padding: 40px;

    animation: fadeIn 1.2s ease;
}

h3{
    font-size: 22px;
    font-weight: 400;
    color: #94a3b8;
    letter-spacing: 3px;

    opacity: 0;
    animation: slideUp 1s ease forwards;
}

h1{
    font-size: 80px;
    margin: 20px 0;
    position: relative;

    opacity: 0;
    animation: slideUp 1.2s ease forwards;
}

h1::after{

    content: "";

    position: absolute;

    width: 280px;
    height: 280px;

    background: #2563eb;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    filter: blur(130px);

    opacity: .6;

    z-index: -1;

    animation: glow 4s infinite alternate;
}

p{
    max-width: 550px;
    margin: 0 auto 45px;

    color: #cbd5e1;

    line-height: 1.7;
    font-size: 18px;

    opacity: 0;
    animation: slideUp 1.4s ease forwards;
}

button{

    padding: 18px 50px;

    border: none;
    border-radius: 50px;

    background: #2563eb;

    color: white;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;

    transition: .3s;

    opacity: 0;
    animation: slideUp 1.6s ease forwards,
               pulse 2.5s infinite;
}

button:hover{

    background: #3b82f6;

    transform: translateY(-6px);

    box-shadow: 0 0 25px rgba(59,130,246,.8);
}

/* -------------------- */
/* ANIMAÇÕES */
/* -------------------- */

@keyframes fadeIn{

    from{
        opacity:0;
    }

    to{
        opacity:1;
    }

}

@keyframes slideUp{

    from{

        opacity:0;
        transform:translateY(40px);

    }

    to{

        opacity:1;
        transform:translateY(0);

    }

}

@keyframes pulse{

    0%{

        transform:scale(1);

    }

    50%{

        transform:scale(1.05);

    }

    100%{

        transform:scale(1);

    }

}

@keyframes glow{

    from{

        opacity:.4;
        transform:translate(-50%,-50%) scale(1);

    }

    to{

        opacity:.8;
        transform:translate(-50%,-50%) scale(1.3);

    }

}